@charset "UTF-8";
html {
  font-size: 15px;
}
body {
  font-size: 15px;
  line-height: 1.1;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
  margin-bottom: 1;
  line-height: 1;
}
h3 {
  font-size: 25px;
}
p {
  font-size: 25px;
}
a {
  color: Yellow;
}
#main {
  margin: 30px 30px 30px 30px;
  padding: 15px;
  background: rgb(0, 52, 66);
  border-radius: 10px;
}
@media (max-width:460)
 #main {
  margin: 0;
  }
@media (max-width: 460px) {
  #img-caption {
    font-size: 20px;
  }
}

#img-div {
  padding: 35px;
  margin: 0;
  background: white;
}
img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
#img-caption {
  margin: 15px 0 5px 0;
}

#headrow {
  margin: 55 0;
  text-align: center;
}
ul {
  text-align: left;
  line-height: 1.3;
  max-width: 600px;
  margin: 0 auto 0px auto;
}
li {
  margin: 20px 0;
}
.copyright {
	text-align: center;
	padding-top: 26px;
	padding-bottom: 26px;
	background-color: gray;
	color: #FFFFFF;
	letter-spacing: 1.5px;
  font-size: 30px;
}